<h1><%= board.escape('title') %></h1>
<div class="lists"></div>
<br>
<div class="new_form"></div>
<br>
<button class="delete-board btn btn-danger">Delete Board</button>
<br><br>
<a href="#">Back to Boards</a>
